<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings><add name="DerbyPubEntities" connectionString="metadata=res://*/Models.DerbyPubModels.csdl|res://*/Models.DerbyPubModels.ssdl|res://*/Models.DerbyPubModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BOGDAN\SQLEXPRESS;initial catalog=DerbyPub;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="RestaurantModel" connectionString="metadata=res://*/Models.RestaurantModel.csdl|res://*/Models.RestaurantModel.ssdl|res://*/Models.RestaurantModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BOGDAN\SQLEXPRESS;initial catalog=DerbyPub;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>