<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="RestaurantModel" connectionString="metadata=res://*/Models.RestaurantModel.csdl|res://*/Models.RestaurantModel.ssdl|res://*/Models.RestaurantModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BOGDAN\SQLEXPRESS;initial catalog=DerbyPub;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="MenuDiscount" value="15" />
    <add key="Discount" value="5" />
    <add key="PriceHighterThan" value="50" />
    <add key="PriceLowerThan" value="25" />
    <add key="Transport" value="10" />
    <add key="OrdersToDiscount" value="5" />
    <add key="OrdersInTimeInterval" value="7" />
  </appSettings>

</configuration>